[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
#跳过密码登录
#skip-grant-tables
#bind-address = 127.0.0.1
#port = 3306
#最大连接数
max_connections=1000

#设置时区和字符集
default-time-zone='+8:00'
#character-set-client-handshake=FALSE
skip-character-set-client-handshake
init_connect='SET collation_connection = utf8mb4_general_ci'
init_connect='SET NAMES utf8mb4'
character-set-server = utf8mb4
#collation-server = utf8mb4_unicode_ci
collation-server=utf8mb4_general_ci
